* {
  padding: o;
  margin: 0;
  box-sizing: border-box; }

h4, p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333333; }

h4 {
  font-size: 12px;
  margin-bottom: 5px; }

p {
  font-size: 9px;
  color: #817553; }

.bold {
  font-weight: bold; }

.footer {
  display: none; }

.site .main .content .description {
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 35px 9px 5px; }
  .site .main .content .description > div {
    background-image: url(../images/drinksbackground.svg);
    background-size: cover;
    height: 71px;
    border-radius: 8px;
    padding: 5px; }
    .site .main .content .description > div img {
      float: left;
      height: 62px;
      margin-right: 10px; }
